# Please check that [save_variables] is above [ace] if you're using different config
[save_variables]
filename: {config_path}/ace_vars.cfg

[respond]

[filament_switch_sensor extruder_sensor]
pause_on_runout: False
runout_gcode:
    ACE_SENSOR_RUNOUT
event_delay: 0.5
pause_delay: 0.1
switch_pin: #insert the sensor pin


[ace]
serial: /dev/ttyACM0
baud: 115200
# Extruder_sensor_pin
extruder_sensor_name: extruder_sensor
# Toolhead_sensor_pin
toolhead_sensor_name: toolhead_sensor
# Default extruder speed, 10-20 in stock
extruder_move_speed: 10
# Default extruder speed, 10-30 in stock
toolhead_homing_speed: 20
# Default feeding speed, 10-25 in stock
feed_speed: 80
# Default retraction speed, 10-25 in stock
retract_speed: 80
# Length of the retract to make for toolchange
toolchange_retract_length: 600 # TUNE ME Distance from extruder sensor to spliter
toolchange_feed_length: 650 # TUNE ME Distance from spliter to extruder sensor
toolhead_sensor_to_nozzle: 50  # TUNE ME Distance from toolhead sensor to nozzle
poop_macros: POOP
cut_macros: CUT_TIP
# Max dryer temperature. If you want to fry your dryer, then you can! (Just joking, should be safe around ~70, but it's not tested yet)
max_dryer_temperature: 60

[gcode_macro POOP]
gcode:
    {action_respond_info("Doing Post toolchange - Pooping")}
    G90
    G1 E80 F500
    G1 E-2 F500
    G0 Y305.5 F700
    G0 X220 F9000
    G0 Y287 F700
    G91
#    G1 Z-30 F600                 ; Raise back Z
    M400
    G90                        ; Return to absolute positioning

[gcode_macro CUT_TIP]
gcode:
    G0 X38 Y285 F8000
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    #SAVE_GCODE_STATE NAME=my_move_up_state
    RESPOND TYPE=echo MSG="CUTTING..."
    M117 Cutting
    G0 X38 Y306 F500
    G0 X38 Y287 F500
	M117 CUT DONE...
	RESPOND TYPE=echo MSG="CUT DONE"
	#RESTORE_GCODE_STATE NAME=my_move_up_state MOVE=1 MOVE_SPEED=250
    G0 X185 Y287 F9000
    #M400
	G0 X185 Y305.5 F700
    FORCE_MOVE STEPPER=extruder DISTANCE=-30 VELOCITY=10
    M400

[gcode_macro _ACE_PRE_TOOLCHANGE]
variable_purge_temp_min: 210
gcode:
    M117 PRE
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}

    {% if printer.extruder.temperature < purge_temp_min %}
          M109 S{purge_temp_min}
    {% endif %}

    SAVE_GCODE_STATE NAME=TOOLCHANGE

    {% if printer.gcode_move.gcode_position.z < 30 %}
        G91
        G0 Z30 F600
    {% endif %}


[gcode_macro _ACE_POST_TOOLCHANGE]
gcode:
    RESTORE_GCODE_STATE NAME=TOOLCHANGE MOVE=1 MOVE_SPEED=250

[gcode_macro _ACE_ON_EMPTY_ERROR]
gcode:
    {action_respond_info("Spool is empty")}
    {% if printer.idle_timeout.state == "Printing" %}
        PAUSE
    {% endif %}

[gcode_macro T0]
gcode:
    ACE_CHANGE_TOOL TOOL=0

[gcode_macro T1]
gcode:
    ACE_CHANGE_TOOL TOOL=1

[gcode_macro T2]
gcode:
    ACE_CHANGE_TOOL TOOL=2

[gcode_macro T3]
gcode:
    ACE_CHANGE_TOOL TOOL=3
